#bottom-bar {
    position: sticky;
    bottom: 0;
    width: 80%;
    margin: 0 auto;
}

.bottom-bar-container {
    padding: 15px;
    border: 1px solid #ccc;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}